.page {
  text-align: center;
  min-height: 100vh;
}

select.departureAirportId {
  text-align: center;
  display: inline-block;
  width: 100%;
  max-width: 900px;
  padding: 26px 0px 26px 0;
  box-sizing: border-box;
  border-radius: 33px;
}

select {
  border-radius: 33px;
  height: 20px;
  width: 80px;
  border: solid rgb(170, 207, 227);
}

select.arrivalAirportId {
  text-align: center;
  display: inline-block;
  width: 100%;
  max-width: 900px;
  padding: 26px 0px 26px 0;
  box-sizing: border-box;
}

.date-slct {
  display: inline-block;
  border-radius: 33px;
}

.App {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  font-size: 40px;
}
