.page {
  text-align: center;

  min-height: 100vh;
}

select.arrivalAirportId {
  display: inline-block;
  margin: 0;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 11px;
  list-style-type: none;
}

select.departureAirportId {
  display: inline-block;
  margin: 0;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 11px;
  list-style-type: none;
}

.App {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  font-size: 40px;
}
