@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");

body {
  background-image: url("https://image.freepik.com/free-photo/wing-airplane-flying-clouds-blue-sky-background-through-window_29505-573.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  margin: 0;
  padding: 0;
  font-family: "Reggae One", cursive;
}

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}
