.app-ui {
  display: grid;
  grid-template-columns: repeat(auto-fit, min-max(384px, 2fr));
  grid-gap: 16px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
